---
layout: default
---
<article class="post container">
  <div class="post-meta">
    <span class="post-meta-span date">{{ page.date | date:"%Y %B %d" }}</span>
    {% if page.tags.size > 0 %}
    <span class="post-meta-span tag">{{ page.tags | join: ', ' }}</span>
    {% endif %}
  </div>

  <h1 class="post-title">{{ page.title }}</h1>
  {{ content }}
</article>

<div>
  <ul class="post-copyright">
      <li> <strong>本文作者：</strong> shunza </li>
      <li> <strong>本文标题：</strong> {{ page.title }} </li>
      <li> <strong>本文链接：</strong> <a href="{{ page.url }}">{{ page.url }}</a></li>
      <li> <strong>版权声明：</strong> 本博客所有文章除特别声明外，均采用 CC BY-NC-SA 4.0 许可协议。转载请注明出处！</li>
  </ul>
</div>

{% if site.disqus.shortname %}
<div class="comment container">
  <div id="disqus_thread">
  </div>
</div>
{% endif %}
